<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" >

<head th:fragment="header">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Forthby Aunction</title>
<link rel="stylesheet"
	th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}">
<link rel="stylesheet"
	th:href="@{/vendor/font-awesome/css/fontawesome-all.min.css}">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<link th:href="@{/css/style.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/mobile-style.css}" rel="stylesheet" media="screen">
</head>

<body>
</body>

</html>