<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">

<head>
</head>
<body>
	<div layout:fragment="content">

		<form th:action="@{/item/update-item/{itemId}(itemId=${item.itemLotNumber})}" th:object="${item}"
			method="post" id="form-item-details">
			<input hidden name="catId" th:value="${item.category.categoryId}"/>
			<input hidden name="userId" th:value="${item.user.userId}"/>
			<div class="form- group">
				<label for="example-text-input" class="col-2 col-form-label">Item
					Name</label>
				<div class="col-10">
					<input class="form-control" type="text" id="title"
						th:field="*{title}" />
				</div>
			</div>
			<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
			<div class="form- group">
				<label for="example-text-input" class="col-2 col-form-label">Artist
					Name</label>
				<div class="col-10">
					<input class="form-control" type="text" id="artistName"
						th:field="*{artistName}" />
				</div>
			</div>
			<div class="form- group">
				<label for="example-text-input" class="col-2 col-form-label">Date
					of Creation</label>
				<div class="col-10">
					<input class="form-control" type="text" id="dateOfCreation"
						th:field="*{dateOfCreation}" />
				</div>
			</div>
			<div class="form- group">
				<label for="example-text-input" class="col-2 col-form-label">Classification</label>
				<div class="col-10">
					<input class="form-control" type="text" id="classification"
						th:field="*{classification}" />
				</div>
			</div>
			<div class="form-group">
				<label for="example-text-input" class="col-2 col-form-label">Item
					Description</label>
				<div class="col-10">
					<input class="form-control" type="text" id="description"
						th:field="*{description}" />
				</div>
			</div>

			<div class="custom-modal-footer modal-footer">

				<button type="submit" class="btn btn-default" >Update</button>
			</div>
		</form>
	</div>

</body>
<script>
	$(document).ready(function() {
		/* FOR EVENT DATA STARTS */
		/* EDIT */
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function(e) {
					$('#blah').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#item-logo").change(function() {
			readURL(this);
		});

	});
</script>
</html>